body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
    color: #434455;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #2E2F42;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
nav {
    margin-left: 156px;
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 76px;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
}
.logo .logo-span {
    color:#2E2F42 ;
}
.contacts {
    font-style: normal;
    margin-right: 156px;
}
.contacts-link {
    color: #434455;
}
.contacts ul li a:active, .contacts ul li a:hover, .contacts ul li a:focus {
    color: #404bbf;
}
.navigation li a:hover, .navigation li a:focus {
    color: #404BBF;
}
.navigation li a, address li a {
    font-weight: 500;
}

/* 1st section Order*/
.section-request {
    background-color: #2E2F42;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}
.request-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    letter-spacing: 0.02em;
    width: 500px;
    
}
.request-button {
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    line-height: 1.5;
    flex-basis: 56px;
    width: 169px;
}
.request-button:hover, .request-button:focus {
    background-color: #404BBF;
}

/* 2nd section Principles */
.principles-main-title {
    display: none;
}
.principles-title {
    text-align: left;
    color: #2e2f42;
}
.principles-para {
    color: #434455;
}
.order-list {
    display: flex;
    margin: 120px 156px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.order-list li {
    flex-basis: 264px;
}

/* 3rd section Our Team */
.section-team {
    text-align: center;
    background-color: #F4F4FD;
}
.team-title {
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    text-align: center;
    margin-bottom: 72px;;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.team-list li {
    background-color: #FFFFFF;
}
.team-para {
    font-size: 16px;
    color: #434455;
}
.team-names {
    color: #2e2f42;
}


/* 4th section Our Portfolio */
.section-portfolio {
    text-align: center;
}
.portfolio-title {
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-para {
    color: #434455;
}
.portfolio-name {
    color: #2e2f42;
}


/* Footer */
.footer {
    background-color: #2E2F42;
}
footer .logo .logo-span {
    color: #F4F4FD;
}
.footer-para {
    color:#F4F4FD
}
